<div class="container" *ngIf="wines$ | async as wines">
  <table class="table table-bordered table-inverse">
    <tr>
      <th>Wine Name</th>
      <th class="text-right">Purchase Price</th>
    </tr>
    <tr *ngFor="let wine of wines">
      <td>
        <a [routerLink]="['view', wine.id]">{{wine.name}}</a>
      </td>
      <td class="text-right">
        {{wine.purchasePrice}}
      </td>
    </tr>
  </table>
</div>
<div class="container" *ngIf="users$ | async as users">
  <div class='list-group'>
    <button type='button'
            class='list-group-item'
            *ngFor='let user of users'
            [ngClass]="{'active': user?.id === (selectedUser$ | async)?.id}"
            (click)='onSelected(user.id)'>
            {{user.firstName}} {{user.lastName}} | {{user.email}}
    </button>
  </div>
</div>