<div class="container">
    <a [routerLink]="['/logged-in-home/wine-fact']">Back to Home</a>
    <hr/>
    <br/>
    <form [formGroup]="quizForm" (ngSubmit)="submitQuiz()" novalidate>
        <div class="form-group">
            <label for="milkPreference">Preferred type of milk</label>
            <select class="form-control"
                   id="milkPreference"
                   placeholder="Preferred type of milk"
                   formControlName="milkPreference" >
                <option *ngFor="let milkPreference of milkPreferences | async">{{ milkPreference }}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="likesCoffee" style="padding-right: 50px;"> Do you like coffee?</label>
                <div class="form-check form-check-inline">
                <input  class="form-check-input" type="radio" formControlName="likesCoffee" value=true > Yes 
                &nbsp;
                <input  class="form-check-input" type="radio" formControlName="likesCoffee" value=false > No 
            </div>
        </div>
        <div class="form-group" *ngIf="likesCoffee.value === 'true'">
            PLACEHOLDER for coffee preference questions
        </div>
    </form> 
    <div style="float: right; padding-top: 100px;">
        <button type="submit" class="btn btn-primary" (click)="submitQuiz()">Submit Quiz</button>
    </div>
</div>

